html{
    font-family: 'Open Sans', sans-serif;
}
*a{
    text-decoration: none;
}

@media (min-width:1880px){
.maincont{
    background: 
    url(img/qr.png) -8% / 400px,
    url(img/circles.png) 120% / 550px;
    background-repeat: no-repeat;
}}

/*topinfo*/
.topinfo > h1{ 
    max-width: 480px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}
.topinfo > h2{
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.topinfo > button{
    border: #FA4A0C 4px solid;
    font-size: 24px;
    border-radius: 0%;
    display: block;
    padding: 10px 40px 10px 40px;
    margin-bottom: 2em;
}
.topinfo > button:hover{
    background-color: #fa4a0c;
    color: #fff;
}


.img-logo{
    width: 200px;
}
.imgphone{
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.topright > h3{
    font-size: 24px;
    display: flex;
    margin-bottom: 30px;
}
.topicon{
    width: 50px;
    margin-right: 20px;
}

/*mid red info*/
.cont2{
    background-color: #FA4A0C;
    margin-top: 3em;
    padding: 20px;
}
.cont2 > h2{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.midinfo{
    display: flex;
}
.midinfo > img{
    width: 80px;
    margin-right: 30px;
}

.span-3{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    text-align: justify;
}
.span-4{
    color: #fff;
    font-size: 18px;
    width: 400px;
    text-align: justify;
}


/*3rd, tables*/
.tablesinfo > p{
    font-size: 20px;
    width: 90%;
    text-align: center;
    
}

.table1{
    border: 3px black solid;
}
.table2{
    border: 4px #ffcd4a solid;
}

.table1 > p{
    width: auto;
    margin-top:30px;
    text-align: justify;
}
.table1 > p >  img{
    width: 40px;
    margin-right: 20px;
}


.table2 > p{
    width: auto;
    margin-top:30px;
    text-align: justify;
}
.table2 > p >  img{
    width: 40px;
    margin-right: 20px;
}





/*scroller*/


.img-slide{
    width: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
@media (max-width: 992px){
    .img-slide{
        display: none;
    }
}
.table3{
    border: solid 4px #FA4A0C;
    padding: 20px;
    height: 340px;
}
.table3text h3, p{
    display: block;
    width: 500px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}



/*yellow block info*/
.cont5{
    background-color: #FFCD4A;
    margin-top: 200px;
    padding: 20px;
    
   
}
.table-extra{
    border: #fff solid 4px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    padding: 1vh;
      
}


.imgextra{
    max-width: 400px;
    max-height: 560px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/**/
.extracont{
    background-color: #FA4A0C;
    text-align: center;
    padding: 20px;
    
}
.extracont-text{
    
    margin-right: auto;
    margin-left: auto;
}
.extracontbtn > button{
    background-color: #fff;
    font-size: 24px;
}
.extracontbtn > button:hover{
    background-color: #000;
    color: #FA4A0C;
}

/*pricing*/

.card{
    
    border-radius: 0;
    margin-right: auto;
    margin-left: auto;
}
.card > button{
    background: #FFCD4A;
    
}
.card > button:hover{
    background: #000;
    color: #fff;
}


/**/
.cont-delivery{
 margin: 2rem;
}
.cont-delivery > h2{
    margin-bottom: 2rem;
}
.box-delivery{
    padding: 1rem;
    margin: 1rem;
    border: solid #000 4px;
}
.box-delivery > h3{
    text-align: center;
    margin-bottom: 1rem;
}

.delivery-img > img{
    margin-top: 4vh;
    width: 90%;
}

.cont-reserve{
    margin: 2rem;
}
.cont-reserve > h2{
    margin-bottom: 2rem;
}
.reservation-img > img{
    width: 70%;
  
}

/**/
.cont-fin{
    background-color: #FA4A0C;
    padding: 2rem;
}
.cont-fin > h2 {
    color: #fff;
    margin: 1rem;
}
.fin-table{
    color: #fff;
  
}
.fin-table > .col, .col-md-5{
    border: #fff solid 4px;
    
    justify-content: center;
}
.fin-table > div > div > p{
    width: auto;
}

/*restaurants*/
.restaurantimg{
    width: 10rem;
    height: auto;
}



/*footer*/
.footer{
    background-color: #2d2d2d;
    padding: 50px;
    
}

footer > a{
    text-decoration: none;
    color: #fff;
}

/*js*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    
  }
  #myBtn > img{
    color: #fff;
  }
  
  #myBtn:hover {
    background-color: #fa4a0c;
  }

  .swiper{
      margin-top: 2em;
  }
  .swiper-slide > img{
      width: 30%;
      margin-right: auto;
      margin-left: auto;
  }
  .swiper-slide> h4{
      text-align: center;
  }

  .restaurants{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    }
    .restaurants > img{
        margin: 1em;
    }

  /*Responsive breakpoints*/

  @media (max-width: 425px){
    .maincont{
        background: none;
    }
    

    .topinfo > h1 {
        margin-bottom: 1em;   
    }
    .topinfo > h2{
        margin-bottom: 2em;
    }

    .topinfo > button{
    text-align: center;
    border: #FA4A0C 4px solid;
    font-size: 24px;
    border-radius: 0%;
    display: block;
    padding: 10px 40px 10px 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    }
    .topinfo > button:hover{
    background-color: #fa4a0c;
    color: #fff;
}

.cont2{
    margin-top: 1em;
}

.topright > h3{
    margin-top: 1em;
}

.cont5{
    background-color: #FFCD4A;
    margin-top: 200px;
    padding: 20px;
    
   
}
.table-extra{
    display: block;
    border: #fff solid 4px;
    align-items: center;

    width: 00px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.imgextra{
    max-width: 200px;
    max-height: auto;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table-extra > div > p{
    width: auto;
}

.box-delivery{
    margin: 0;

}

.delivery-img > img{
    max-width: 100px;
    
}
.reservation-img > img{
    width: 100px;
}

.table-extra{
    width: auto;
}

.span-3{
    width: fit-content;
    text-align: start;
}
.span-4{
    width: fit-content;
    text-align: start;
}

.tablesinfo > p{
    font-size: 20px;
    width: auto;
    text-align: center;
    
}


.table1 > p{
    margin-top:30px;
    text-align: justify;
    width: auto;
}
.table1 > p >  img{
    width: 20px;
    margin-right: 20px;
}


.table2 > p{
    margin-top:30px;
    text-align: justify;
    width: auto;
}
.table2 > p >  img{
    width: 20px;
    margin-right: 20px;
}

.fin-table  > div> div > p{
    width: auto;
}
.delivery-img{
    display: none;
}
.reservation-img{
    display: none;
}
.img-slide{
    display: none;
}
.table3text > h3, p{
    width: fit-content;
}


}

@media (max-width: 768px){
    .maincont{
        background: none;
    }
    

    .topinfo > h1 {
        margin-bottom: 1em;
    }
    .topinfo > h2{
        margin-bottom: 2em;
    }

    .topinfo > button{
    text-align: center;
    border: #FA4A0C 4px solid;
    font-size: 24px;
    border-radius: 0%;
    display: block;
    padding: 10px 40px 10px 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
    }
    .topinfo > button:hover{
    background-color: #fa4a0c;
    color: #fff;
}

.cont2{
    margin-top: 1em;
}

.topright > h3{
    margin-top: 1em;
}

.cont5{
    background-color: #FFCD4A;
    margin-top: 200px;
    padding: 20px;
    
   
}
.table-extra{
    display: block;
    border: #fff solid 4px;
    align-items: center;

    width: 00px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

.imgextra{
    max-width: 200px;
    max-height: auto;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table-extra > div > p{
    width: auto;
}

.box-delivery{
    margin: 0;

}

.delivery-img > img{
    max-width: 100px;
    
}
.reservation-img > img{
    width: 100px;
}

.table-extra{
    width: auto;
}

.span-3{
    width: fit-content;
    text-align: start;
}
.span-4{
    width: fit-content;
    text-align: start;
}

.tablesinfo > p{
    font-size: 20px;
    width: auto;
    text-align: center;
    
}


.table1 > p{
    margin-top:30px;
    text-align: justify;
    width: auto;
}
.table1 > p >  img{
    width: 20px;
    margin-right: 20px;
}


.table2 > p{
    margin-top:30px;
    text-align: justify;
    width: auto;
}
.table2 > p >  img{
    width: 20px;
    margin-right: 20px;
}

.fin-table  > div> div > p{
    width: auto;
}
.delivery-img{
    display: none;
}
.reservation-img{
    display: none;
}
.img-slide{
    display: none;
}
.table3text > h3, p{
    width: fit-content;
}

  }